{% extends "layout.html" %}

{% block content %}

<h1>Library Dashboard</h1>

<div class="card">

    <h3>Total Books : {{ total_books }}</h3>

    <h3>Total Students : {{ total_students }}</h3>

    <h3>Books Issued : {{ issued_books }}</h3>

</div>

<br>

<h2>Available Books</h2>

<table>

    <tr>
        <th>ID</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    {% if books %}

        {% for book in books %}

        <tr>

            <td>{{ book[0] }}</td>

            <td>{{ book[1] }}</td>

            <td>{{ book[2] }}</td>

            <td>{{ book[3] }}</td>

            <td>{{ book[4] }}</td>

            <td>₹ {{ book[5] }}</td>

        </tr>

        {% endfor %}

    {% else %}

        <tr>
            <td colspan="6">No Books Available</td>
        </tr>

    {% endif %}

</table>

<br>

<a href="/books">
    <button>Manage Books</button>
</a>

<a href="/students">
    <button>Manage Students</button>
</a>

<a href="/issue">
    <button>Issue Book</button>
</a>

{% endblock %}