{% extends "layout.html" %}

{% block content %}

<h1>Return Books</h1>

<table>
    <tr>
        <th>Issue ID</th>
        <th>Student</th>
        <th>Book ID</th>
        <th>Issue Date</th>
        <th>Return Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for book in issued %}
    <tr>
        <td>{{ book[0] }}</td>
        <td>{{ book[1] }}</td>
        <td>{{ book[2] }}</td>
        <td>{{ book[3] }}</td>
        <td>{{ book[4] }}</td>
        <td>{{ book[5] }}</td>
        <td>
            <a href="/return_book/{{ book[0] }}">
                <button>Return</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}