{% extends "layout.html" %}

{% block content %}

<h1>Students</h1>

<form action="/add_student" method="POST">

    <input
        type="text"
        name="name"
        placeholder="Student Name"
        required>

    <input
        type="text"
        name="phone"
        placeholder="Phone Number"
        required>

    <button type="submit">
        Add Student
    </button>

</form>

<table>

<tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Delete</th>
</tr>

{% for student in students %}

<tr>

    <td>{{ student[0] }}</td>
    <td>{{ student[1] }}</td>

    <td>
        <a href="/delete_student/{{ student[0] }}"
        onclick="return confirm('Delete this student?')">
        Delete
        </a>
    </td>

</tr>

{% endfor %}

</table>

{% endblock %}