<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library management system</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h2>Library management system</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/issue">Issued books</a></li>
            <li><a href="/return">Return book</a></li>
        </ul>
    </nav>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
</body>
</html>